<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ninja_Gold.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>962320DF1E70C6D100C8564E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>962320F31E70C6D100C8564E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>962320FE1E70C6D100C8564E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
